.text{
    font-family: 'PT Sans', sans-serif;
    background-color: cadetblue;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
.input{
    width: 500px;
}
#div-one{
    background-color: rgb(255, 187, 0);
    padding-bottom: 10px;
}
#div-two{
    background-color: rgb(255, 187, 0);
    padding-bottom: 10px;
    padding-top: 10px;
    color: white;
}